{%extends "base.html"%}
{%block title%}Login{%endblock%}
{%block
    content%}
    <Form method="POST">
        <h3 align="center">Login</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="type your email here">
        </div>
        
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="type your password here">
        </div>
       
        <br />
        <button type="submit" class="btn btn-success">Sign UP</button>
    </Form>
    {%endblock%}
